*{
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 1px;
  font-weight: 100;

}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1e1e2f, #2c2c54);
  
}
.whole{
  text-align: center;
  width: 320px;
  border-radius: 20px;
  background: #27293d;
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
   padding: 20px;
   transition: transform 0.5s ease;
  color: white;
}
.whole:hover{
  transform: scale(1.05);
}
.image{
  background: url('https://picsum.photos/300') center/cover;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 20px;
  transition: transform 0.5s linear;
}
.whole:hover .image  {
  transform: rotate(5deg);
}
.line{
  width: 80%;
  height: 6px;
  background: #444;
  border-radius: 10px;
  
  margin: auto;
}
.line1{
  width: 0px;
  height: 100%;
  background: #ff4c60;
  transition: width 3s linear;
  overflow: hidden;
  border-radius: 10px;
}
.whole:hover .line1{
 width: 100%;
}
.main-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;

  margin-top: 20px;
}
.btn{
  border-radius: 100%;
  background: #3b3e5b;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease,transform 0.2s ease;

}
.btn:hover{
  background: #ff4c60;
  transform: scale(1.1);
}
.play{
  width: 55px;
  height: 55px;
  background: #ff4c60;
}
